//
   Created by nomaterials on 31/05/2017.

html
    head
        title Admin Signup
    body
        h1 Admin Signup
        if( message )
            h4 #{message}
        form(action="/admin/signup" method="POST")
            input(name="id" type="text" required placeholder="Admin ID")
            input(name="password" type="password" required placeholder="Password")
            button(type="Submit") Sign Up