//
   Created by nomaterials on 31/05/2017.

html
    head
        title Admin Panel
    body
        div Hey #{id}, long time no see brah
        div Wanna logout?
        a(href="/logoutAdmin") Logout