//
   Created by fortysixntwo on 04/06/2017.

html
    head
        title Transit Hub Employee Login
    body
        h1 Transit Hub System
        h2 Log In
        if(message)
            h4 #{message}
        form(action="/TH/login" method="POST")
            input(name="id" type="text" required placeholder="User ID")
            input(name="password" type="password" required placeholder="Password")
            button(type="Submit") Log In