//
   Created by fortysixntwo on 04/06/2017.
html
    head
        title Transit Hub Employee Panel
    body
        div Yo #{id}, long time no see dude
        div Wanna fistfight with 13 space aliens? Me neither, log out plz.
        a(href="/TH/logout") Logout