//
   Created by fortysixntwo on 04/06/2017.
html
    head
        title Local Store Employee Login
    body
        div Yo #{id}, long time no see dude
        div Wanna fistfight with 13 space aliens? Me neither, log out plz.
        a(href="/LS/logout") Logout